:root{
  --background-color: #2a9d8f;
  --background-color2: #f4a261;
  --text-color: #122f3a;
  --nav-color:#e9c46a;
}


.bihar{
  width: 100%;
  height: full;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 4rem;
}
.top{
  width: 100%;
  height: 94vh;
  position: relative;
  overflow: hidden;
}
.top video{
  width: 100%;
  height: 94vh;
  object-fit: cover;
}
.top h2{
  font-size: 13rem;
  padding: 2rem;
  position: absolute;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgb(255, 255, 0), rgb(255, 255, 255),rgb(255, 30, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  text-align: center;
}
.navbar{
  width: 100%;
  background-color: var(--nav-color);
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  li{
    font-size: 1rem;
    font-weight: 700;
  }
}
.topheading{
  width: 100%;
  font-size: 4rem;
  text-align: center;
  font-family: "Quintessential", serif;
  font-weight: 600;
  line-height: 1;
  padding: 20px;
}
.topheading img{
  width: 10%;
  height: 5%;
  border-radius: 20%;
  object-fit: cover;
}

.topplaces{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 70%;
}
.topplaces .box{
  border-radius: 10px;
  border: 1px solid black;
  min-width: 300px;
  overflow: hidden;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.topplaces :nth-child(1){
  border: none;
}
.topplaces :nth-last-child(1){
  border: none;
}
.topplaces .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topplaces .box :nth-child(1){
  font-size: 120px;
  background-color: transparent;
  text-align: start;
}
.topplaces .box h2{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Quintessential", serif;
  font-weight: 4600;
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.475);
}
.hcategories{
  font-size: 7rem;
  background: #716c5b;
  text-align: center;
  font-family: "Quintessential", serif;
  font-weight: 600;
  background:linear-gradient(var(--background-color), whitesmoke,var(--background-color2));
}
.biharcategory{
  margin: 0;
  width: 100%;
  height: 90vh;
  background: var(--background-color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.biharcategory .box{
  transition: all 0.5s ease-in-out;
  height: 90%;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}
.biharcategory :hover{
  width: 150%;
}
.biharcategory .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.biharcategory .box h2{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(245, 222, 179, 0.334);
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
}
    
