@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body, .root {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

:root {
  --primary-color: #F5EFE6;
  --secondary-color: #d04c21;
  --tertiary-color: #12a202;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.501);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav h1 {
  font-size: 2rem;
  color: #ff3c00;
}
nav .middile {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: medium;
  padding: 5px 10px;
  font-weight: 500;
}
nav .middile a, nav .middile li {
  position: static;
  list-style: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
nav .middile a:hover, nav .middile li:hover {
  color: var(--tertiary-color);
}
nav .middile a .dropdown, nav .middile li .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.715);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 20px 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease;
  z-index: 99;
}
nav .middile a .dropdown a, nav .middile a .dropdown li, nav .middile li .dropdown a, nav .middile li .dropdown li {
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
nav .middile a .dropdown a:hover, nav .middile a .dropdown li:hover, nav .middile li .dropdown a:hover, nav .middile li .dropdown li:hover {
  color: var(--secondary-color);
}
nav .middile a:hover .dropdown, nav .middile li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
nav .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .right i {
  cursor: pointer;
  font-size: 1.2rem;
}
nav .right .language {
  font-size: 1.5rem;
  cursor: pointer;
}
nav .right .id {
  background-color: rgba(37, 177, 9, 0.911);
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 900;
}

.home {
  height: 94vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp7231447.jpg");
  position: relative;
  font-size: 10rem;
  z-index: 0;
}
.home h3 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 7rem;
  color: var(--secondary-color);
}
.home h2 {
  position: absolute;
  top: 45%;
  left: 5%;
}
.home h4 {
  position: absolute;
  top: 80%;
  left: 40%;
  font-size: 4rem;
  color: var(--tertiary-color);
}

.notfound {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: rgb(255, 0, 0);
}
.notfound h2 {
  font-size: 4rem;
}
.notfound p {
  font-size: 2rem;
}
.notfound button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.sado {
  height: 20vh;
  width: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0) 50%, transparent);
  margin: -70px 0;
  position: relative;
  z-index: 5;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4rem;
}
.search input {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  width: 30%;
}

.trending {
  height: 140vh;
  width: 100%;
  padding-top: 4rem;
}
.trending p {
  font-size: 2rem;
  text-align: center;
  font-family: "Quintessential", serif;
}
.trending .trendingplaces {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  padding-bottom: 5rem;
}
.trending .trendingplaces h2 {
  font-size: 5rem;
}
.trending .trendingplaces .places {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.trending .trendingplaces .places .card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
}
.trending .trendingplaces .places .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trending .trendingplaces .places .card h2 {
  font-size: 2rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.category {
  height: 100vh;
  width: 100%;
  background: url("https://i.pinimg.com/1200x/e9/37/05/e937055b9ca9e11ba09b302eb20d1e4e.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  margin-bottom: -5rem;
  margin-top: 1rem;
}
.category h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.category .categorycard {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.category .categorycard .card {
  height: 50%;
  width: 18%;
  border-radius: 45%;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.category .categorycard .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .categorycard .card h2 {
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  background-color: rgba(186, 190, 190, 0.59);
}
.category .categorycard .card:hover {
  height: 90%;
  width: 60%;
  transform: scaleY(1.2);
  border-radius: 10px;
}

.india {
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.india .info {
  height: 80%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.india .info h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.india .info p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.india .map {
  height: 80%;
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
}
.india .map img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(1, 1, 123);
  color: white;
}

.arrobtn {
  background-color: transparent;
  border: none;
  color: #f4c430;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrobtn:hover {
  color: var(--secondary-color);
  font-size: 1.03rem;
}

.tajmahal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #021d35;
  color: #9ca3af;
}
.tajmahal img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}
.tajmahal h2 {
  margin-top: 2rem;
  font-size: 5rem;
  padding-top: 2rem;
  font-family: "UnifrakturMaguntia", cursive;
}
.tajmahal h4 {
  font-size: 1.2rem;
  padding: 10px 0;
  margin-bottom: 1rem;
  color: #ffec1c;
  font-weight: 200;
  font-family: "Quintessential", serif;
}
.tajmahal .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tajmahal .right .info {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5%;
}
.tajmahal .right .info h2 {
  font-size: 4rem;
  text-align: center;
}
.tajmahal .right .info p {
  font-size: 1rem;
  padding: 10px 0;
}
.tajmahal .right img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25% 0 0 25%;
}
.tajmahal .lift {
  margin: -1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tajmahal .lift .info {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5%;
}
.tajmahal .lift .info h2 {
  font-size: 4rem;
  text-align: center;
}
.tajmahal .lift .info p {
  font-size: 1rem;
  padding: 10px 0;
}
.tajmahal .lift img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 25% 25% 0;
}
.tajmahal .tajphoto {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tajmahal .tajphoto img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  border: 1px solid #f4c430;
  transition: all 0.5s ease;
}
.tajmahal .tajphoto img:hover {
  height: 100%;
}
.tajmahal .nearby {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.tajmahal .nearby h2 {
  font-size: 5rem;
  font-family: "Quintessential", serif;
}
.tajmahal .nearby .places {
  height: 80vh;
  width: 80%;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
  gap: 10px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.tajmahal .nearby .places .lefttop {
  grid-column: 1/3;
  grid-row: 2/4;
  background-image: url("https://i.pinimg.com/736x/7e/4d/b0/7e4db025216b3ec859c546fc59d14ab0.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.tajmahal .nearby .places .lefttop:hover {
  scale: 2;
}
.tajmahal .nearby .places .lefttop h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.tajmahal .nearby .places .righttop {
  grid-column: 3/5;
  grid-row: 1/3;
  background-image: url("https://images.unsplash.com/photo-1591018653367-9c01498b3320?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.tajmahal .nearby .places .righttop:hover {
  scale: 2;
}
.tajmahal .nearby .places .righttop h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.tajmahal .nearby .places .leftbottom {
  grid-row: 4/6;
  grid-column: 2/4;
  background-image: url("https://t3.ftcdn.net/jpg/03/42/14/70/240_F_342147053_Ghmto2LsNVkXZXKw61raqfnaYlQW77zD.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.tajmahal .nearby .places .leftbottom:hover {
  scale: 2;
}
.tajmahal .nearby .places .leftbottom h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.tajmahal .nearby .places .rightbottom {
  grid-column: 4/6;
  grid-row: 3/5;
  background-image: url("https://i.pinimg.com/736x/04/2d/b7/042db7432b347e6c64915451eb893739.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.tajmahal .nearby .places .rightbottom:hover {
  scale: 2;
}
.tajmahal .nearby .places .rightbottom h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.tajmahal .nearby .places .mid {
  grid-column: 3/4;
  grid-row: 3/4;
  background-image: url("https://eticketagra.in/images/Sikandra-agra.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.tajmahal .nearby .places .mid:hover {
  scale: 2;
}
.tajmahal .nearby .places .mid h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.tajmahal .hotal {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.tajmahal .hotal h2 {
  font-size: 5rem;
  font-family: sans-serif;
  padding-bottom: 2rem;
}
.tajmahal .hotal .hotals {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tajmahal .hotal .hotals .card {
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.tajmahal .hotal .hotals .card:hover {
  scale: 1.1;
}
.tajmahal .hotal .hotals .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.tajmahal .hotal .hotals .card h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
}

.bihar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bihar video {
  width: 100%;
  height: 94vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.bihar h2 {
  font-size: 13rem;
  padding: 2rem;
  position: absolute;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  line-height: 1;
  text-align: center;
}

.footer {
  background: #0b1c2d;
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: -50px;
}
.footer-info {
  width: 90%;
  margin: 2rem auto;
}
.footer-info h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f4c430;
  line-height: 0.8;
}
.footer-info p {
  font-size: 1rem;
  line-height: 1.7;
  color: #d1d5db;
}
.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}
.footer-box h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f4c430;
}
.footer-box p {
  font-size: 1rem;
  line-height: 1.7;
  color: #d1d5db;
}
.footer-box ul {
  list-style: none;
  padding: 0;
}
.footer-box ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #d1d5db;
  transition: all 0.3s ease;
}
.footer-box ul li:hover {
  color: #f4c430;
  padding-left: 5px;
}
.footer-box .social-links {
  margin-top: 10px;
}
.footer-box .social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease;
}
.footer-box .social-links a:hover {
  color: #f4c430;
  border: 1px solid #f4c430;
  border-radius: 10px;
  padding: 2px;
}
.footer-bottom {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid white;
  text-align: center;
}
.footer-bottom p {
  font-size: 13px;
  color: #9ca3af;
}

@keyframes changeBg {
  0% {
    background-image: url("https://wallpapercave.com/wp/wp7231447.jpg");
    background-position: 0% 50%;
  }
  25% {
    background-image: url("https://i.pinimg.com/1200x/6b/b5/95/6bb595b78ee185d646f5a4b33a0ba055.jpg");
    background-position: 50% 50%;
  }
  50% {
    background-image: url("https://www.bwallpaperhd.com/wp-content/uploads/2021/09/AsianElephants-1024x576.jpg");
    background-position: 100% 50%;
  }
  75% {
    background-image: url("https://wallpaperaccess.com/full/1635200.jpg");
    background-position: 50% 50%;
  }
  100% {
    background-image: url("https://wallpaperaccess.com/full/504997.jpg");
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=indes.css.map */