@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body, .root{
  height: 100%;
  width: 100%;
  background-color:black;
  color: white;
}

:root{
  --primary-color: #F5EFE6;
  --secondary-color: #d04c21;
  --tertiary-color: #12a202;
}


// Variables
$bg-dark: #0b1c2d;
$text-light: #d1d5db;
$text-muted: #9ca3af;
$accent: #f4c430;
$font-main: "Poppins", sans-serif;

@mixin flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 5px 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.501);
  position: sticky;
  top: 0;
  z-index: 100;
  h1{
    font-size: 2rem;
    color: #ff0000;
  }
  .middile{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: medium;
    padding: 5px 10px;
    font-weight: 500;
    a,li{
      position: static;
      list-style: none;
      cursor: pointer;
      color: white;
      text-decoration: none;
      &:hover{
        color: var(--tertiary-color);
      }
      .dropdown{
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.715);
        backdrop-filter: blur(20px);
        padding: 20px 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.5s ease;
        z-index: 99;
        a,li{
          list-style: none;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 400;
          color: white;
          text-decoration: none;
          &:hover{
            color: var(--secondary-color);
          }
        }
      }
      &:hover .dropdown{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  .right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 13%;
    .language{
      font-size: 1.5rem;
      cursor: pointer
    }
    .id{
      background-color: rgba(37, 177, 9, 0.911);
      padding: 5px 10px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 900;
    }
  }
}

.home{
  height: 94vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp7231447.jpg");
  // background-size: 150% 120%;
  // background-position: 0% 50%;
  // animation: changeBg 100s linear infinite;
  position: relative;
  font-size: 10rem;
  z-index: 0;
  h3{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 7rem;
    color: var(--secondary-color);
  }
  h2{
    position: absolute;
    top: 45%;
    left: 5%;
  }
  h4{
    position: absolute;
    top: 80%;
    left: 40%;
    font-size: 4rem;
    color: var(--tertiary-color);
  }
}

.notfound{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: rgb(255, 0, 0);
  h2{
    font-size: 4rem;
  }
  p{
    font-size: 2rem;
  }
  button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
}

.sado{
  height: 20vh;
  width: 100%;
  background: linear-gradient(transparent,rgb(0, 0, 0) 50%,transparent);
  margin: -70px 0;
  position: relative;
  z-index: 5;
}

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:10px;
  // margin-bottom: 4rem;
  
  input{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    width: 30%;
  }

}

.navsearch{
  display: flex;
  position: relative;
  width: 30%;
  input{
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    width: 100%;
    transition: all 0.5s ease;
  }
  &::placeholder{
    color: white;
    font-size: 1.2rem;
  }
  &:hover,&:focus-within{
    width: 150px;
  }
  button ,i{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
  }
}
.button{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgba(1, 1, 123);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color: var(--tertiary-color);
  }
}

.arrobtn{
  background-color: transparent;
  border: none;
  color: $accent;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    color: var(--secondary-color);
    font-size: 1.03rem;
  }
}

.trending{
  height: 140vh;
  width: 100%;
  padding-top: 4rem;
  p{
    font-size: 2rem;
    text-align: center;
    font-family: "Quintessential", serif;
  }
  

  .trendingplaces{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    gap:10px;
    padding-bottom: 5rem;
    h2{
      font-size: 5rem;
    }
    .places{
      height: 70vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      .card{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: white;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        h2{
          font-size: 2rem;
          position: absolute;
          bottom: 0%;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
        }
      }
    }
  }
}

.category{
  height: 100vh;
  width: 100%;
  background:url("https://i.pinimg.com/1200x/e9/37/05/e937055b9ca9e11ba09b302eb20d1e4e.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  margin-bottom: -5rem;
  margin-top: -5rem;
  h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .categorycard{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // flex-wrap: wrap;
    padding: 20px;
    .card{
      height: 50%;
      width: 18%;
      border-radius: 45%;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease-in-out;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      h2{
        font-size: 1.2rem;
        font-weight: 700;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(0, 0, 0);
        background-color: rgba(186, 190, 190, 0.59);
      }
      &:hover{
        height: 90%;
        width: 60%;
        transform: scaleY(1.2);
        border-radius: 10px;
      }
    }
  }
}

.india{
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  .info{
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h2{
      font-size: 4rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    
  }
  .map{
    height: 80%;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
}

.tajmahal{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #021d35;
  color: $text-muted;
  img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
  }
  h2{
    font-size: 5rem;
    padding-top: 2rem;
    font-family: "UnifrakturMaguntia", cursive;
  }
  h4{
    font-size: 1.2rem;
    padding: 10px 0;
    margin-bottom: 1rem;
    color: #ffec1c;
    font-weight: 200;
    font-family: "Quintessential", serif;

  }
  .right{
    margin: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .info{
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 5%;
      h2{
        font-size: 4rem;
        text-align: center;
      }
      p{
        font-size: 1rem;
        padding: 10px 0;
      }
    }
    img{
      width: 45%;
      height: 100%;
      object-fit: cover;
      border-radius: 25% 0 0 25%;
    }
  }
  .lift{
    margin: -1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .info{
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 5%;
      h2{
        font-size: 4rem;
        text-align: center;
      }
      p{
        font-size: 1rem;
        padding: 10px 0;
      }
    }
    img{
      width: 50%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 25% 25% 0;
    }
  }
  
  .tajphoto{
    // margin: 3rem;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    img{
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 20px;
      border: 1px solid $accent;
      transition: all 0.5s ease;
      &:hover {
        height: 100%;
      }
    }
  }
  .nearby{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    h2{
      font-size: 5rem;
      font-family: "Quintessential", serif;
    }
    .places{
      height: 80vh;
      width: 80%;
      grid-template-columns:1fr 1fr 2fr 1fr 1fr;
      display: grid;
      grid-template-rows:1fr 1fr 2fr 1fr 1fr;
      gap: 10px;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      .lefttop{
        grid-column: 1/3;
        grid-row: 2/4;
        background-image: url("https://i.pinimg.com/736x/7e/4d/b0/7e4db025216b3ec859c546fc59d14ab0.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover{
          scale: 2;
        }
        h3{
          height: 100%;
          @include flex-end;
        }
      }
      .righttop{
        grid-column: 3/5;
        grid-row: 1/3;
        background-image: url("https://images.unsplash.com/photo-1591018653367-9c01498b3320?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover{
          scale: 2;
        }
        h3{
          height: 100%;
          @include flex-end;
        }
      }
      .leftbottom{
        grid-row: 4/6;
        grid-column: 2/4;
        background-image: url("https://t3.ftcdn.net/jpg/03/42/14/70/240_F_342147053_Ghmto2LsNVkXZXKw61raqfnaYlQW77zD.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover{
          scale: 2;
        }
        h3{
          height: 100%;
          @include flex-end;
        }
      }
      .rightbottom{
        grid-column: 4/6;
        grid-row: 3/5;
        background-image: url("https://i.pinimg.com/736x/04/2d/b7/042db7432b347e6c64915451eb893739.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover{
          scale: 2;
        }
        h3{
          height: 100%;
          @include flex-end;
        }
      }
      .mid{
        grid-column: 3/4;
        grid-row: 3/4;
        background-image: url("https://eticketagra.in/images/Sikandra-agra.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover{
          scale: 2;
        }
        h3{
          height: 100%;
          @include flex-end;
        }
      }

    }
  }
  .hotal{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    h2{
      font-size: 5rem;
      font-family: sans-serif;
      padding-bottom: 2rem;
    }
    .hotals{
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .card{
        border: 2px solid white;
        border-radius: 10px;
        transition: all 0.5s ease;
        &:hover{
          scale: 1.1;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        h3{
          font-size: 1.5rem;
          padding: 10px 0;
          text-align: center;
        
        }
      }
    }
  }
}


.footer {
  background: $bg-dark;
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: -50px;
  font-family: $font-main;
  
  &-info {
    width: 90%;
    margin: 2rem auto;
    h3 {
      font-size: 2rem;
      margin-bottom: 15px;
      color: $accent;
      line-height: 0.8;
    }

    p {
      font-size: 1rem;
      line-height: 1.7;
      color: $text-light;
    }
  }

  &-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
  }

  &-box {
    h3 {
      font-size: 2rem;
      margin-bottom: 15px;
      color: $accent;
    }

    p {
      font-size: 1rem;
      line-height: 1.7;
      color: $text-light;
    }
    
    ul {
      list-style: none;
      padding: 0;
      
      li {
        margin-bottom: 10px;
        font-size: 1rem;
        color: $text-light;
        transition: all 0.3s ease;
        &:hover {
          color: $accent;
          padding-left: 5px;
        }
      }
    }
  
    
    .social-links {
      margin-top: 10px;

      a {
        display: inline-block;
        margin-right: 10px;
        font-size: 18px;
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
          color: $accent;
          border: 1px solid $accent;
          border-radius: 10px;
          padding: 2px
        }
      }
    }
  }

  &-bottom {
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid white;
    text-align: center;

    p {
      font-size: 13px;
      color: $text-muted;
    }
  }
}

@keyframes changeBg {
  0% {
    background-image: url("https://wallpapercave.com/wp/wp7231447.jpg");
    background-position: 0% 50%;
  }
  25% {
    background-image: url("https://i.pinimg.com/1200x/6b/b5/95/6bb595b78ee185d646f5a4b33a0ba055.jpg");
    background-position: 50% 50%;
  }
  50% {
    background-image: url("https://www.bwallpaperhd.com/wp-content/uploads/2021/09/AsianElephants-1024x576.jpg");
    background-position: 100% 50%;
  }
  75% {
    background-image: url("https://wallpaperaccess.com/full/1635200.jpg");
    background-position: 50% 50%;
  }
  100% {
    background-image: url("https://wallpaperaccess.com/full/504997.jpg");
    background-position: 0% 50%;
  }
}